/* colors */

:root{
  --text-info: #D6AF23;
}


/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* bases */
html {
  font-size: 20px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.4em;

  background: rgb(129,129,129);
  background: radial-gradient(circle, rgba(129,129,129,1) 0%, rgba(252,252,252,1) 0%, rgba(250,250,250,1) 60%, rgba(247,247,247,1) 65%, rgba(244,243,243,1) 85%, rgba(219,219,219,1) 100%, rgba(129,129,129,1) 100%);
}


/* container */
.container-large {
  max-width: 1150px;
  margin: 0px auto;
  padding: 150px 25px 0 25px;
}

.container {
  max-width: 1096px;
  margin: 60px auto;
  padding: 0 25px;
}

/* style texte */
.mark {
  font-weight: 800;
  font-style: italic;
}

.info {
  color: var(--text-info, #D6AF23);
}

/* header */
header {
  height: 660px;

  color: #FFF;

  background: center / cover no-repeat url(images/Fallout-img.jpg);
}

h1 {
  font-weight: 700;
  font-size: 3.5em;
  line-height: 1.4em;
}

h1::after {
  content: '76';
  margin-left: 15px;

  font-weight: 300;
  font-size: 1em;
  color: var(--text-info, #D6AF23);
}

.header-text {
  position: relative;
}

.header-text::before {
  content: 'Bethesda';
  padding: 18px;
  position: absolute;

  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;

  background-color: var(--text-info, #D6AF23);
}

.presentation {
  margin-top: 15px;
  padding-top: 75px;

  font-weight: 300;
  font-style: italic;

  font-size: 2em;
  line-height: 1em;
}

/* section */
.content {
  max-width: 100%;
}

.content-presentation {
  line-height: 1.35em;
}

.ul-title {
  margin: 15px 0;

  font-size: 1.4em;
  font-weight: 200;
  line-height: 1.2em;
}

/* puces big */
li {
  font-size: 1.9em;
  margin-left: 35px;
}

.li-margin {
  font-size: .6em;
}

/* footer */
footer {
  height: 250px;
  margin-top: 180px;

  background: linear-gradient(rgb(32, 32, 32), rgb(19, 19, 19));;
}

.container-footer {
  text-align: center;
  position: relative;

  font-family: 'Kaushan Script', cursive;
  font-size: 2em;
  color: #FFF;
}

.fallout-guy {
  height: 210px;
  width: 210px;

  position: absolute;
  top: -80px;
  left: 20px;
}

.fallout-icon {
  width: 210px;

  position: absolute;
  top: -80px;
  right: 20px;

  font-family: 'Roboto', sans-serif;
}

.contain-fallout-icon-text {
  position: relative;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
}

.fallout-icon-text {
  position: absolute;
  top: 52px;
  left: 29px;

  font-size: .55em;
  color: rgb(26, 26, 26);
}

.good-job {
  font-family: 'Kaushan Script', cursive;
}

@media only screen and (min-width: 700px) {

  /* header */
  h1 {
    font-size: 4em;
  }

  .header-text::before {
    width: auto;
    top: 80px;
    left: -82px;
    transform: rotate(-90deg);
  }

  .presentation {
    margin-left: 95px;
    padding-top: 0;

    font-size: 2.3em;
    line-height: 1.2em;
  }

  /* section */
  .content {
    margin-left: 80px;
    text-align: justify;
  }
  
  section::before {
    content: '';
    position: absolute;
    height: 370px;
    width: 8px;

    border-radius: 2px;

    background: var(--text-info, #D6AF23);
  }

  .li-margin {
    margin-left: 50px;
  }

  .good-job {
    position: relative;
    top: -95px;
  }
}